.sidebar {
    -fx-padding: 20px 30px;
    -fx-background-color: rgba(12, 22, 44, 1);
}

.sidebar-link {
    -fx-background-color: transparent;
    -fx-padding: 10px 50px 10px 20px;

    -fx-font-size: 16px;
    -fx-font-weight: bold;

}

.sidebar-link-active {
    -fx-background-radius: 10px;
    -fx-padding: 10px 50px 10px 20px;
    -fx-background-color: #0066FF;

    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.sidebar-logout{
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-padding: 10px 50px 10px 20px;
    -fx-opacity: 0.5;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
.sidebar-logout:hover {
    -fx-opacity: 1;
}
.body{
    -fx-background-color: #f4f4f4;
}
.card{
    -fx-background-color: #fff;
    -fx-background-radius: 10px;
    -fx-pref-width: 300px;
}

.button-delete{
    -fx-background-color: #8E1212;
    -fx-text-fill: #fff;
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
}

.button-edit{
    -fx-background-color: #CD9400;
    -fx-text-fill: #fff;
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
}

.button-add{
    -fx-background-color: "#624DE3";
    -fx-text-fill: #fff;
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
    -fx-padding: 10px 30px;
}

.button-details{
    -fx-background-color: #0C162C;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;

}

.button-statut{
    -fx-background-color: #0C162C;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
}

.alert-error{
    -fx-background-color: #FBEDED;
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
}

.statut-col{
    -fx-alignment: CENTER;
    -fx-background-color: #baf5b8;
    -fx-background-radius: 10px;
}

